@import "../node_modules/foundation-sites/scss/foundation";
// include flex
@include foundation-everything(true);

// global styles


body {
    background-color:#eff1f4;
    text-align:center;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin:auto;
  width:50%;
}

.progress {
  font-size: 1.277rem;
  padding:1em;
  background-color:#2199e8;
  min-width:100px;
}