@import "../node_modules/foundation-sites/scss/foundation";
@import 'settings';
// include flex
@include foundation-everything(true);

// global styles
$background-color: #eff1f4;

body {
    background-color: $background-color;
    text-align: center;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin:auto;
  width:50%;
}

.progress {
  min-width:100px;
}
.likert {
  display:block;
}

span.progress-meter-text {
  margin-left: 50px;
}

//Currently classes override angular binding [hidden]. Workaround until then.
[hidden]{
  display:none !important;
}
